# ~/.dotfiles/aliases/.aliases

# Homebrew
alias bu='brew cleanup && brew update && brew upgrade && brew cleanup && brew doctor'
alias bo='brew outdated'

# Docker
alias dockerps="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}'"

# Neovim
alias v='nvim'
alias df="nvim ~/.dotfiles"

# Directory navigation
alias l='eza'
alias la='l -l -a -h --git --icons'
alias ls='l --icons --long --header --group-directories-first'
alias lt="eza --tree --level=2 --long --icons --git"

# Zsh
alias zc='nvim ~/.zshrc'
alias za='nvim ~/.aliases'
alias zs='source ~/.zshrc'

# Network Utilities
alias port='sudo lsof -i'
alias ps='ps aux | grep'
alias kill_port=findandkill

# Git
alias ga='git add .'
alias gaa='git add -p'
alias gb='git branch'
alias gba='git branch -a'
alias gc='git commit -m'
alias gca='git commit -a -m'
alias gdiff='git diff'
alias gs='git status'
alias gpsh='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gpu='git pull origin'
alias gw='git worktree'
alias ghc='gh repo create'
alias ghcl='gh repo clone'
alias ghf='gh repo fork'
alias glog="git log --graph --topo-order --pretty='%w(100,0,6)%C(yellow)%h%C(bold)%C(black)%d %C(cyan)%ar %C(green)%an%n%C(bold)%C(white)%s %N' --abbrev-commit"
alias cb='git branch --sort=-committerdate | fzf --header "Checkout Branch" --preview "git diff {1} --color=always" --pointer="" | xargs git checkout'
alias gr='git remote'

# Smarter dir nav
alias z='zoxide'

# Tmux
alias t='tmux'
alias ta='t attach -t'
alias tc='nvim ~/.tmux.conf'
alias tcs='tmux source ~/.tmux.conf'

# Replace cat with bat
alias cat='bat'

# Clean up mac-specific .DS_Store
alias dsclean='sudo find / -name ".DS_Store" -exec rm -v {} \;'

# Flush DNS
alias flush='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder && echo "DNS cache flushed"'
